  @{
    Layout = "_Layout";
  }
  <body class="p-3 m-5">
    <h1>Welcome to Pierres Vendors!</h1>
    <p>If you'd like to be a part of Pierres Vendors family, act now and add your business to our expanding company!</p>
    <p><a href="/vendors">View our current Vendors!</a></p>
    <p><a href="/vendors/new">Or add your company and place an order!</a></p>
  </body>
</html>
