  @{
    Layout = "_Layout";
  }
  <body class="p-3 m-4">
    <div class="container">
      <h1>Please use the form below to add a new order for @Model.Name</h1>
      <form action="/vendors/@Model.Id/orders" method="post">
        <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id"><br>
        <label for="orderTitle" class="form-label">Title:</label>
        <input id="orderTitle" name="orderTitle" type="text" class="form-control" required><br>
        <label for="orderInformation" class="form-label">Order Information:</label>
        <input id="orderInformation" name="orderInformation" type="text" class="form-control" required><br>
        <label for="orderDate" class="form-label">Date:</label>
        <input id="orderDate" name="orderDate" type="text" class="form-control" required><br>
        <label for="orderPrice" class="form-label">Price:</label>
        <input id="orderPrice" name="orderPrice" type="text" class="form-control" required><br>
        <button type='submit' class="btn btn-primary">Add Order</button><br><br>
        <p><a href="/vendors">Click here to go back to Pierres Vendor's List</a></p>
        <p><a href="/">Back to Home</a></p>
      </form>
    </div>
  </body>
</html>
